# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# vite
.vite/cache/
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#lockfile
/test-results/
/playwright-report/
/playwright/.cache/

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions